{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I’m a recent graduate with a Bachelor's in Information Technology from Mumbai University, India. Currently, I am pursuing a Master’s in Computer Applications while deepening my expertise through courses on AWS Cloud Practitioner and Python Development. Alongside my academic pursuits, I enjoy coding, making rangoli, cooking, and dancing.
         These hobbies not only provide me with creative outlets but also enhance my problem-solving skills and allow me to maintain a well-rounded lifestyle. My diverse interests complement my technical studies and fuel my passion for continuous learning and innovation.
        </p>
        <p>
          I am deeply passionate about my work and driven by a genuine enthusiasm for technology and problem-solving.
           Whether it's developing innovative solutions through coding, optimizing cloud architectures, or diving into data analysis, I approach each project with dedication and a keen desire to excel.
        </p>
        <p>
          My commitment to staying updated with the latest industry trends and continuously enhancing my skills fuels my drive to make meaningful contributions in my field. I take pride in my work and am excited by the challenges and opportunities that come with it, always striving to push the boundaries of what’s possible.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
